body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}
h1 {
  color: steelblue;
}

img {
  border-radius: 30px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.20);
}

video {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}